.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  overflow: hidden;
}

.landingIntro {
  padding: 32px 8px;
  height: auto;
  text-align: center;
}

.landingIntro > img {
  max-width: 420px;
  width: 80vw;
  margin: 24px 16px;
}
.landingIntro > h2 {
  margin-bottom: 10px;
}
.landingIntro > p {
  font-size: 20px;
  letter-spacing: 1px;
}
