.editor .ql-editor {
  width: 8.3in;
  min-height: 11.6in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

.editor .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.editor .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.editor .ql-formats {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 12px;
}

.editor .ql-snow .ql-picker.ql-size .ql-picker-label::before,
.editor .ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: attr(data-value);
}
.editor .ql-clipboard {
  position: fixed !important;
}
@media print {
  body {
    background: none;
  }
  .nav-bar-app {
    display: none;
  }
  #text-editor-main {
    background: none;
    min-width: auto;
    min-height: auto;
  }
  .editor .ql-editor {
    padding: 0;
    margin: 0;
    width: 6.3in;
    min-height: 9.6in;
    box-shadow: none;
    justify-content: flex-start;
  }

  .editor .ql-toolbar.ql-snow {
    display: none;
  }
}

@page {
  margin: 1in;
}
