.docContainer {
  padding: 14px 0;
}

.cardsCotainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-wrap: wrap;
  grid-gap: 24px;
  margin: 12px 0;
}

.docQuery {
  width: 100%;
  position: sticky;
  top: 0;
  display: block;
  z-index: 1;
}

.search {
  display: flex;
  align-items: center;
  margin: 24px 0;
  border-radius: 4px;
  width: 100%;
  max-width: 350px;
  padding: 4px 12px;
  background-color: #f9f9f9;
}

.searchIcon {
  margin-right: 16px;
}

.search:hover {
  background-color: #eee;
}
