.myDocuments {
  padding: 14px 0;
}

.myDocumentsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-wrap: wrap;
  grid-gap: 24px;
  margin: 12px 0;
}

.docQuery {
  width: 100%;
  position: sticky;
  top: 0;
  display: block;
  z-index: 1;
}
